{% extends '/layout/layout.html.twig' %}
{% block title %}
    Shopping cart
{% endblock %}
{% block body %}

    <a href="/home" class="btn btn-outline-primary offset-md-1 offset-0 mt-4 me-3">Home</a> 
    <a href="/shop" class="btn btn-outline-primary mt-4">Shop</a> 
    <div class="container">
        {% if items %}
            <h2 class="mt-5 mb-4 text-center">Shopping cart</h2>
            <div class="list-group-item offset-md-1 offset-0 col-md-10 col-12 mb-4 mt-3 fs-5 p-4">
                {% for item in items %}
                    <h4>{{item['itemName']}}</h4>
                    <div class="mx-4">
                    {% if data['warranty'] %}
                        <p class="mt-2">{{item['warrantyPeriod']}}</p>
                    {% else %}
                        <p class="mt-2">{{item['warrantyCost']}}</p> 
                    {% endif %}        
                    </div>
                {% endfor %}
                <hr>
            </div>
        {% else %}
            <h2 class="mt-5 mb-4 text-center">There is no items in your cart</h2>
        {% endif %}
    </div>
   
{% endblock %}

{%  block js %}
    <script src="/app/js/script.js"></script>
{% endblock %}